<div class="container">
  <div class="p-2 text-center">
    <h3>情報のご提供ありがとうございました！</h3>
  </div>

  <div class="p-2 text-center">
    <h5>マイページの「キャンプ場申請状況」より確認ができます</h5>
  </div>
  <div class="p-2 text-center">
      <%= link_to "トップページに戻る", root_path, class: "btn btn_orange rounded-pill w-50 m-auto my-2" %>
  </div>
</div>