<div class="container">
  <div class="row p-1">
    <h3>ユーザー情報編集</h3>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <%= form_with model: current_user, url: users_path, method: :patch, class: 'edit_user', local: true do |f| %>
        <div class="actions p-1">
          <%= f.submit "変更を保存" ,class: 'btn btn-sm btn-success' %>
        </div>

        <div class="row mb-2">
          <div class="col-sm-3 col-5 text-left pl-2">
            <p>プロフィール画像</p>
          </div>
          <div class="col-sm-7 col-5 text-left px-0">
            <%= f.file_field :profile_image, autofocus: true, accept: "image/*" %>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-3 col-5 text-left pl-2">
            <p>ユーザー名</p>
          </div>
          <div class="col-sm-7 col-5 text-left px-0">
            <%= f.text_field :name, autofocus: true, class: "" %>
          </div>
        </div>


      <% end %>
    </div>
  </div>
</div>