<nav class="navbar navbar-expand-lg" style="background-color: #FFFFFF;">

  <div class="container">
    <div class="row">
      <a class="navbar-brand p-3" href="/"></a>
        <div class="ml-auto headers">
         <div class="collapse navbar-collapse align-items-center" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
          <% if admin_signed_in? %>
            <%= render 'layouts/header_admin' %>
          <% elsif user_signed_in? %>
            <%= render 'layouts/header_user' %>
          <% else %>
            <%= render 'layouts/header_unsign' %>
          <% end %>
         </ul>
        </div>
      </div>
    </div>
  </div>
</nav>