<div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <button type="button" class="btn btn-vivid">
    <li>
      <%= link_to map_campgrounds_path, class: 'nav-link text-white' do %>
        <i class="fas fa-solid fa-cookie-bite"></i> 地図から探す
      <% end %>
    </li>
  </button>
  <button type="button" class="btn btn-darkgleen">
    <li>
      <%= button_to users_guest_sign_in_path, method: :post, class: 'nav-link text-darkgleen' do %>
        <i class="fas fa-solid fa-cart-arrow-down"></i> ゲストログイン
      <% end %>
    </li>
    </button>
  <button type="button" class="btn btn-darkgleen">
    <li>
      <%= link_to new_user_registration_path, class: 'nav-link text-white' do %>
        <i class="fas fa-solid fa-user-plus"></i> 新規登録
      <% end %>
    </li>
  </button>
  <button type="button" class="btn btn-deep">
    <li>
      <%= link_to user_session_path, class: 'nav-link text-white' do %>
        <i class="fas fa-sign-in-alt"></i>ログイン
      <% end %>
    </li>
  </button>
</div>