<div class="btn-group" role="group" aria-label="Basic mixed styles example">
    <li class="nav-item">
      <%= link_to admin_root_path, class: 'nav-link text-dark' do %>
        <i class="fas fa-campground"></i> キャンプ場一覧
      <% end %>
    </li>
    <li class="nav-item">
      <%=  link_to admin_users_path, class: 'nav-link text-dark' do %>
        <i class="fas fa-user"></i> 会員一覧
      <% end %>
    </li>
    <li class="nav-item">
      <%=  link_to admin_reviews_path, class: 'nav-link text-dark' do %>
        <i class="fas fa-comment-dots"></i> レビュー一覧
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' do %>
        <i class="fas fa-arrow-right"></i> ログアウト（管理者）
      <% end %>
    </li>
</div>