<div class="btn-group" role="group" aria-label="Basic mixed styles example">
    <li class="nav-item">
      <%= link_to campgrounds_path, class: 'nav-link text-dark' do %>
        <i class="fas fa-campground"></i> キャンプ場一覧
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to users_guest_sign_in_path, method: :post, class: 'nav-link text-dark' do %>
        <i class="fas fa-user-tie"></i> ゲストログイン
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to new_user_registration_path, class: 'nav-link text-dark' do %>
        <i class="fas fa-solid fa-user-plus"></i> 新規登録
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to user_session_path, class: 'nav-link text-dark' do %>
        <i class="fas fa-sign-in-alt"></i>ログイン
      <% end %>
    </li>
  </button>
</div>